<div class="container" *ngIf="convertStatus">
  
  <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4" style="text-align: center;"> 
          <div class="form-group custom-file" style="text-align: center;">
            <input type="file" class="custom-file-input" #fileInput
            (change)="handleFileInput($event)" 
            id="customFile" multiple>
            <label class="custom-file-label" for="customFile" style="overflow: hidden">{{selectedFiles}}</label>
          </div>   
          <div style="padding-top:20px;text-align: center;">			
			<button class="btn btn-info" [disabled]="!proceedBtnStatus" (click)="proceed()">Proceed</button>
            <button class="btn btn-success" [disabled]="!parseBtnStatus" (click)="parseResume()">Parse</button>
            <button class="btn btn-danger" (click)="clearPage()">Cancel</button>                           
          </div>
      </div>
      <div class="col-md-4"></div>
    </div>  
  
</div>
<br><br>
<div class="container" *ngIf="show">
  <div class="row">
        <div class="col-md-1"></div>
        <div  class="col-md-10" style="text-align:right; padding-bottom:2px;">
            <button type="button" class="btn btn-xs btn-success" (click)="downloadDocument()" >Download</button>
        </div>
        <div class="col-md-1"></div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">      
      <ag-grid-angular 
      style="width: 1000px; height:300px;"
      class="ag-theme-balham-dark"
      [rowData]="rowData" 
      [masterDetail]="true"	  
      [detailCellRendererParams]="detailCellRendererParams"
      [floatingFilter]="true"
      [columnDefs]="columnDefs">
      </ag-grid-angular>          
    </div>
    <div class="col-md-1"></div>       
  </div>
</div>


