<div class="container" style="margin-bottom:30px;" ><!--border-bottom: 1px solid #ccc;  -->
	<div class="row" style="text-align:center;padding:10px">
		<div class="col-md-2">
			<img src="../assets/img/HSI_Logo.png">
		</div>
		<div class="col-md-8 headerText">
			<h5>
				{{title}}
			</h5>
		</div>
		<div class="col-md-2"></div>  
	</div>
	<div class="row">
		<div class="col-md-12">
			
		</div>
	</div>
</div>

<router-outlet></router-outlet>
