.headerText{
	color: #dd137b;
    padding-top: 25px;
    font-size: 25px;
}

#backgroundImage {
            background-image: url('assets/img/image1.jpg');
            background-repeat: no-repeat;
            background-size: 100%;
            opacity: 0.4;
            filter:alpha(opacity=40);
            height:100%;
            width:100%;
            z-index:0.1;
        }

